@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  height: 100vh;
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: 64px auto;
  grid-template-areas:
    "hd hd"
    "sidebar main";
}
#navbar {
  grid-area: hd;
  z-index: 2;
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
#navbar h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 9px auto 9px 15px;
  cursor: pointer;
}
.btn {
  font-weight: 600;
  margin: 11px;
  padding: 9px 25px;
  color: #ffffff;
  background-color: #09865f;
  border-style: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background-color: #25af84;
}
#left-bar {
  grid-area: sidebar;
  z-index: 0;
  background: #ffffff;
}
#left-bar input[type="text"] {
  width: 520px;
  padding: 15px;
  margin: 25px 25px 25px 25px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  box-shadow: 0 2px 4px 0 rgba(8, 17, 13, 0.25);
}
#search-top {
  background-color: #09865f;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.sidebar-menu {
  position: absolute;
  bottom: 0;
  top: 164px;
  max-height: 82vh;
  overflow-y: scroll;
  /*Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;
  /*Hide scrollbar for  Firefox */
  scrollbar-width: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar-menu::-webkit-scrollbar {
  display: none;
}

.menu-item {
  display: flex;
  flex-direction: row;
  margin: 25px;
  padding: 25px;
  height: 200px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.item-left {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 0 25px 0 0;
}
.item-name {
  display: flex;
  font-weight: 600;
  font-size: 25px;
  margin: 0;
}
.item-adress {
  display: flex;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.item-tags {
  display: flex;
  font-weight: 300;
  font-size: 10px;
  margin: 0 0 10px 0;
  color: #a5a7a7;
}
.item-left .btn {
  margin: auto 125px 0 0;
}
.main-img {
  width: 223px;
  height: 202px;
  border-radius: 10px;
}
#sideProp {
  width: 0px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
}
.sidePropTop {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  border-bottom: solid black;
}
.closebtn {
  font-size: 36px;
  text-decoration: none;
  color: black;
  display: flex;
  padding: 14px 0px 8px 0px;
  margin-left: auto;
  transition: 0.3s;
}
.closebtn:hover {
  color: #8b8585;
}
.sidePropFirstInfo {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  border-bottom: solid black;
}
.sidePropFirstInfo .location {
  display: flex;
  align-items: baseline;
}
.sidePropFirstInfo .locType {
  display: flex;
  align-items: baseline;
}

.sidePropSecondInfo {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  border-bottom: solid black;
}
.photoGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px 16px;
  margin: 16px 25px 16px 25px;
}
.pic {
  display: flex;
  height: 267px;
  width: 267px;
}
.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(201, 74, 74, 0.19);
  cursor: pointer;
}
.rightSidebar {
  grid-area: main;
  width: 0px;
  height: 100%;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  margin-top: 64px;
  /* padding: 16px; */
  transition: 0.5s;
}
.rightSidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.rightSidebarContent {
  margin-left: 16px;
  margin-right: 16px;
}
.rightSidebar a {
  text-decoration: none;
  color: black;
}
.rightSidebar p {
  margin-right: 30px;
}
.rightSidebarClose {
  display: flex;
}
#map {
  z-index: 0;
  grid-area: main;
}
